node_modules/
dist/
backend/node_modules/
frontend/node_modules/
frontend/dist/
*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
*.log
.DS_Store
backend/.env

# 과제로 올라오는 파이썬 코드 실행 시 생길 수 있는 캐시 파일
__pycache__/
*.pyc
